
#app {
  background-image: url(https://i.imgur.com/u5YVU7k.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3c3cef;
  min-height: 100vh;
}

#nav {
    background: black;
  //background-image: url(https://previews.123rf.com/images/rastudio/rastudio1509/rastudio150900424/45319870-fast-food-meal-hand-drawn-in-chalk-on-a-blackboard-vector-white-icon-isolated-on-a-black-background-.jpg);
  //padding: 15px;
}

#nav a {
  font-weight: bold;
  //color: white;
}

#nav a.router-link-exact-active {
  color: #42b983;
}